<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="form">
        <h3 class="text-center text-white pt-5">form</h3>
        <div class="container">
            <div id="form-row" class="row justify-content-center align-items-center">
                <div id="form-column" class="col-md-6">
                    <div id="form-box" class="col-md-12">
                        <form id="calificacion-form" class="form" action="" method="POST">
                            <h3 class="text-center text-info">Registrar Calificación</h3>
                            <div class="form-group">
                                <label for="numeroMatricula" class="text-info">Numero de matrícula:</label><br>
                                <input type="text" name="numeroMatricula" id="numeroMatricula" class="form-control" required autofocus>
                            </div>
                            <div class="form-group">
                                <label for="materia" class="text-info">Materia:</label><br>
                                <input type="text" name="materia" id="materia" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="calificacion" class="text-info">Calificacion:</label><br>
                                <input type="text" name="calificacion" id="calificacion" class="form-control" required pattern="[0-9]|10">
                            </div>
                            <div class="form-group">

                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Añadir Calificacion">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
